*:not(i) {
  font-family: "Tazugane Gothic StdN" !important;
}

pre *,
pre,
code:not(.fa),
.code,
.code * {
  font-family: "JetBrains Mono", "Space Mono", "Tazugane Gothic StdN" !important;
  font-variant-ligatures: none;
}

.material-icons,
.material-icons * {
  font-family: "Material Icons";
}
