*:not(i) {
    font-family: 'Tazugane Gothic StdN' !important;
}

pre *, code {
    font-family: 'Space Mono', 'Tazugane Gothic StdN' !important;
    font-variant-ligatures: none;
}

.material-icons, .material-icons * {
    font-family: "Material Icons"
}